.section-items {
  text-align: center;
  z-index: 1;
  margin-top: -30px;

  .site-container {

    @media (max-width: $width-tablet) {
      max-width: 650px;
    }
  }


  &:before {
    @include pseudo-block($top: 30px, $left: 0, $right: 0, $bottom: 30px);
    background-color: #1798d5;
    background-image: image-url('bg/bg-figure.png');
    background-position: 50% 100%;
    background-repeat: repeat-x;
  }

  .item {
    vertical-align: top;
    max-width: 311px;
    width: 100%;
    margin: 0 0 6px;
    @include box-shadow(4px 4px 0 0 rgba(0, 0, 0, 0.15));
    display: none;

    @media (min-width: $width-tablet) {
      margin: 0 4px 6px;
      display: inline-block;
    }

    @media (min-width: $width-middle) {
      margin: 0 4px 6px 0;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    &.nonstop-mobile{
      display: inline-block;

      @media (min-width: $width-tablet) {
        display: none;
      }
    }

    a {
      margin: 0;
      display: block;
      @include box-shadow(none);
      max-height: 212px;

      @media (min-width: $width-tablet) {
        margin: 0;
      }

      @media (min-width: $width-middle) {
        margin: 0;
      }
    }
  }

  a {
    display: block;
    border: 4px solid #fff;
    @include box-shadow(4px 4px 0 0 rgba(0, 0, 0, 0.15));
    color: #fff;
    text-decoration: none;
    position: relative;
    margin: 0 0 6px;
    overflow: hidden;
    max-width: 311px;
    width: 100%;

    @media (min-width: $width-tablet) {
      display: inline-block;
      vertical-align: top;
      margin: 0 4px 6px;
    }

    @media (min-width: $width-middle) {
      margin: 0 4px 6px 0;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    &:before {
      @include pseudo-block($top: 0, $right: 0, $left: 0, $bottom: 0);
      background: rgba(0, 0, 0, 0.4);
      opacity: 0;

      @media (min-width: $width-middle) {
        @include transition(opacity .3s);
      }
    }

    &:hover {

      @media (min-width: $width){

        &:before {
          opacity: 1;
        }

        .info {

          .title {

            @media (min-width: $width-middle) {
              top: 0;
              font-size: 18px;
              margin-bottom: 4px;
            }
          }

          .elems {

            @media (min-width: $width-middle) {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }

    img {
      display: block;
    }
  }

  .info {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    @include translateY(-50%);
    font-family: $klavika-medium;
    padding: 10px 20px;

    .title {
      @include translateY(-50%);
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-transform: uppercase;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.28);
      @include transition(font-size .3s, top .3s);
      display: block;
      @include backface-visibility(hidden);
    }

    .elems {
      display: none;

      @media (min-width: $width-middle) {
        padding-top: 10px;
        opacity: 0;
        visibility: hidden;
        display: block;
        @include transition(all .4s);
      }

      img {
        max-width: none;
        width: auto;
        margin: 0 auto;
      }
    }

    p {
      margin: 0 0 10px;
      font-style: italic;

      &:last-child {
        margin: 0;
      }
    }
  }
}