.outer-wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;

  @media (min-width: $width-tablet) {
    padding-bottom: 109px;
  }

  @media (min-width: $width-middle) {
    padding-bottom: 182px;
  }

  .page-map & {
    padding-bottom: 0;
  }
}