@-moz-keyframes left-right {
  0% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(8px);
    transform: translateX(8px);
  }
  100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes left-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes left-right {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(8px);
    -ms-transform: translateX(8px);
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.btn-link {
  font-size: 17px;
  text-transform: uppercase;
  font-family: klavika-bold;
  background: #7b519c;
  display: inline-block;
  padding: 8px 18px 4px;
  border: 2px solid #7b519c;
  color: #fff !important;
  margin: 0 0 15px;
}
.btn-link:hover {
  text-decoration: none;
  background: none;
  color: #7b519c !important;
}

ul.list-with-icon {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}
@media (min-width: 1098px) {
  ul.list-with-icon {
    margin: 0 0 70px;
  }
}
ul.list-with-icon.list-style-a {
  margin: 0 0 50px;
}
ul.list-with-icon.list-style-a li {
  margin: 0 0 16px;
}
ul.list-with-icon li {
  position: relative;
  padding-left: 50px;
  margin: 0 0 15px;
}
@media (min-width: 1098px) {
  ul.list-with-icon li {
    margin: 0 0 40px;
  }
}
ul.list-with-icon li:last-child {
  margin: 0;
}
ul.list-with-icon li:before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -4px;
  height: 34px;
  width: 40px;
  background:  url('../images/icons-se01fae3a93.png') -28px -156px no-repeat;
}
