.b-news-top {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;

  .ico {
    margin-bottom: 15px;
  }

  .img-title {
    margin-bottom: 30px;
  }

  .mobile-only {
    display: block;

    @media (min-width: $bp-small) {
      display: none;
    }
  }
}