.site-footer {
  font-size: 12px;
  background: #0ea9e6;

  .footer-top {
    display: none;
  }

  .footer-bottom {
    padding: 8px 0;

    @media (min-width: $width-tablet) {
      padding: 20px 0;
    }

    .logo, p {
      display: inline-block;
    }

    .logo {
      margin-bottom: 10px;
    }
  }
}